html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-color: #3f5d45;
  --sub-color: #eaf0ed;
  --font-size: 8px;
}
body {
  font-family: PingFang TC;
  font-weight: bold;
}
/* 共用 */
.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar img {
  height: 40px;
}
.banner a {
  height: 496px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  padding: 10px 30px;
  color: var(--main-color);
  font-size: calc(var(--font-size) * 2);
}
.menu a.cartImg {
  padding-right: 0;
  padding-left: 49px;
}
.menu a:hover {
  background: var(--sub-color);
}

.menu a.cartImg:hover {
  background: none;
}
.menu img {
  height: 24px;
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* categoryList */
.categoryList li {
  width: 300px;
  font-size: calc(var(--font-size) * 3);
}
.categoryListTitle {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  color: var(--sub-color);
}
.categoryList li a {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: var(--main-color);
  text-decoration: none;
  border: 1px solid var(--sub-color);
  box-sizing: border-box;
}
.categoryList li a:hover {
  background: var(--sub-color);
}

/* productList */

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
}
.productList li {
  width: 300px;
  height: 436px;
  margin-bottom: 20px;
  position: relative;
}

.productList li a img {
  width: 26px;
  position: absolute;
  top: 14px;
  right: 16px;
}
.tag {
  position: absolute;
  left: 20px;
  top: 0;
  width: 36px;
  height: 106.73px;
  background: var(--main-color);
  color: var(--sub-color);
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productInfo {
  position: absolute;
  top: 315px;
  display: flex;
  color: var(--main-color);
}
.productName {
  font-weight: lighter;
  font-size: 20px;
  border: 1px solid var(--sub-color);
  box-sizing: border-box;
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productPrice {
  font-size: 20px;
  width: 127px;
  height: 56px;
  border: 1px solid var(--sub-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}
.addCartBtn {
  display: block;
  width: 300px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sub-color);
  position: absolute;
  top: 371px;
  text-decoration: none;
  color: var(--main-color);
  font-size: calc(var(--font-size) * 3);
}
.addCartBtn:hover {
  background: var(--main-color);
  color: var(--sub-color);
}

/* pagination */
.pagination {
  display: flex;
  justify-content: end;
}
.pagination li a {
  width: 60px;
  height: 60px;
  border: 1px solid var(--sub-color);
  box-sizing: border-box;
  font-size: 20px;
  color: var(--main-color);
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.pagination li a:hover {
  background: var(--sub-color);
  font-weight: bold;
}
.pagination li img {
  width: 24px;
  height: 24px;
}
.pagination li a.active {
  background: var(--main-color);
  color: var(--sub-color);
  font-weight: bold;
  border: 1px solid var(--main-color);
}
